.TitleSmall, .Title {
  color: rgb(var(--dark-blue2));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5px;
  margin: 24px 0 20px;
}
.TitleSmall span {
  font-size: 22px;
  margin: 0 12px;
}
.Value {
  color: rgb(var(--green));
}
.ChartSmall {
  width: 90%;
  margin: auto;
  z-index: 1;
  position: relative;
}
.Title span {
  font-size: 34px;
  margin: 0 25px;
}
.Chart {
  width: calc(100% - 20px);
  margin: 0 10px;
  z-index: 1;
  position: relative;
}
@media (min-width: 1071px) {
  .Container {
    width: calc(100% - 470px);
  }
}
@media (min-width: 1021px) {
  .Container {
    width: calc(100% - 420px);
  }
}
