.Chart {
  width: 100%;
  height: 100%;
}
.NetWorthTitle, .NetWorthTitleSmall {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NetWorthTitleSmall {
  margin: 10px 0 5px;
}
.NetWorthValue {
  margin-left: 50px;
  color: rgb(var(--green));
}
.NetWorthText {
  color: rgb(var(--dark-blue2));
}
.NetWorthValueSmall {
  margin-left: 30px;
  color: rgb(var(--green));
  font-size: 22px;
}
.NetWorthTextSmall {
  color: rgb(var(--dark-blue2));
  font-size: 22px;
}
.NetWorthChart, .NetWorthChartSmall {
  width: 80%;
  margin: auto;
  z-index: 1;
  position: relative;
}
.NetWorthChart {
  min-width: 500px;
}
.NetWorthChart a, .NetWorthChartSmall a {
  display: none;
}
.Block {
  position: relative;
  top: -12.5px;
  width: 100px;
  height: 10px;
  background: white;
}
.Chart .Block {
  position: relative;
  top: -12px;
  width: 56px;
  height: 10px;
  background: white;
}
@media (max-width: 500px) {
  .NetWorthTitle {
    justify-content: flex-start;
    flex-direction: column;
  }
  .NetWorthValue {
    margin: 0 0 20px;
  }
  .NetWorthText {
    margin-bottom: 15px;
  }
}
