.Input, .DateInput {
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid rgb(var(--blue));
  background: rgba(var(--blue), 0.03);
  outline: none;
}
.DateInput {
  padding: 2px 3px;
}
