.Container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(var(--blue)), rgb(var(--green)));
  overflow: auto;
}
.OuterContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 374px;
}
.LoginPanel, .SignupPanel {
  background: white;
  box-shadow: 0 0 15px -1px rgba(0,0,0,0.5);
  border-radius: 3px;
  width: 350px;
  text-align: center;
  height: 90%;
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.SignupPanel {
  max-height: 615px;
}
.LoginPanel .Content, .SignupPanel .Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 490px;
  padding: 20px 0;
  position: relative;
}
.SignupPanel .Content {
  height: 560px;
}
.Demo {
  color: rgb(var(--dark-blue));
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms;
  cursor: pointer;
}
.Demo:hover {
  transition: color 250ms;
  color: rgb(var(--blue));
}
.Demo span {
  margin-left: 2px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SwitchAuth {
  position: absolute;
  bottom: 15px;
  color: rgb(var(--dark-blue));
}
.SwitchAuth a {
  margin-left: 5px;
  text-decoration: none;
  color: rgb(var(--dark-blue));
  font-weight: bold;
}
.SwitchAuth a:hover {
  color: rgb(var(--dark-blue2));
}
.SubTitle {
  text-align: center;
  margin: 0 30px 20px;
  color: rgb(var(--dark-blue));
}
.InputDiv, .InputDivFocus {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  height: 27px;
  border-radius: 10px;
  border: 1px solid rgba(var(--blue), 0.1);
  background: rgba(var(--blue), 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.InputDivFocus {
  border: 1px solid rgba(var(--blue), 0.3);
  box-shadow: 0 0 10px 4px rgba(235, 242, 251, 0.5);
}
.Icon {
  font-size: 18px;
  color: rgb(var(--dark-blue));
  display: flex;
  justify-content: center;
  align-items: center;
}
.InputDiv input, .InputDivFocus input {
  border: 0;
  font-size: 18px;
  margin-left: 5px;
  outline: none;
  padding: 3px 2px;
  background: 0;
}
.InputDivFocus .Icon {
  color: rgb(var(--green));
}
.Content button {
  cursor: pointer;
  color: white;
  background: rgb(var(--dark-blue));
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  transition: background 300ms;
  line-height: 0;
  padding: 20px 15px;
  outline: 0;
}
.Content button:hover {
  background: rgb(var(--blue));
}
.Remember {
  margin-top: 10px;
  font-size: 14px;
}
.Remember span {
  margin-left: 2px;
  color: rgb(var(--dark-blue));
}
.Remember input {
  position: relative;
  top: 1.5px;
}
.ErrDiv {
  width: 100%;
  font-size: 14px;
  text-align: center;
  height: 30px;
  margin: 15px 0 10px;
}
.ErrMsgShow, .ErrMsgHide {
  opacity: 1;
  transition: opacity 300ms;
  color: rgb(var(--dark-blue));
}
.ErrMsgHide {
  opacity: 0;
}
@media (max-height: 751px) {
  .SignupPanel {
    display: block;
  }
}
@media (max-height: 664px) {
  .LoginPanel {
    display: block;
  }
}
