.Hide {
  display: none;
}
.Title {
  text-align: center;
  position: relative;
}
.Title h1 {
  margin: 20px 0 15px;
  color: rgb(10, 77, 96);
}
.Title span {
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms ease-out;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.Title span:hover {
  color: rgb(18, 152, 189);
  transition: 300ms ease-out;
}
.ShowInfo, .HideInfo {
  font-size: 16px;
  width: 400px;
  top: 45px;
  position: absolute;
  background: white;
  border-radius: 3px;
  padding: 15px;
  left: calc(50% - 215px);
  transition: 250ms ease-out;
  border: 1px solid rgb(18, 152, 189);
  box-shadow: 0.5px 0.5px 5px 0 rgb(0, 0, 0, 0.5);
}
.HideInfo {
  visibility: hidden;
  opacity: 0;
}
