.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(52, 161, 30, 0.85);
  height: 50px;
}
.NavBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}
.NavBar li {
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.userText {
  display: flex;
  height: 100%;
  padding: 0 5px;
  align-items: center;
}
.NavBar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  padding: 0 5px;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: rgb(28, 62, 24);
  font-weight: bold;
}
.NavBar a:hover,
.NavBar a:active,
.NavBar a.active {
  background-color: rgb(86, 129, 105);
}
body {
  background-color: rgba(25, 107, 64, 0.1);
}
.SideNav {
  display: none;
}
@media (max-width: 499px) {
  .NavBar {
    display: none;
  }
  .SideNav {
    display: block;
    background-color: rgba(52, 161, 30, 0.85);
  }
}
.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 150;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.4);
}
.SideBar {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 16px 0;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}
.Open {
  transform: translateX(0);
}
.Close {
  transform: translateX(-200%);
}
.SideLinks a {
  text-decoration: none;
  color: rgb(28, 62, 24);
  font-weight: bold;
  margin-left: 25px;
  font-size: 25px;
}
.SideLinks {
  margin-top: 20px;
  width: 50%;
}
.SideBarChart {
  width: 50%;
  height: 100px;
}
