.Container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(18, 152, 189), rgb(26, 171, 152));
  overflow: auto;
}
.OuterContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 374px;
}
.LoginPanel, .SignupPanel {
  background: white;
  box-shadow: 0 0 10px 0 rgb(0,0,0,0.75);
  border-radius: 3px;
  width: 350px;
  text-align: center;
  height: 90%;
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.SignupPanel {
  max-height: 615px;
}
.LoginPanel .Content, .SignupPanel .Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 490px;
  padding: 20px 0;
  position: relative;
}
.SignupPanel .Content {
  height: 560px;
}
.Demo {
  color: rgb(15, 119, 147);
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms;
  cursor: pointer;
}
.Demo:hover {
  transition: color 250ms;
  color: rgb(18, 152, 189);
}
.Demo span {
  margin-left: 2px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SwitchAuth {
  position: absolute;
  bottom: 15px;
  color: rgb(15, 119, 147);
}
.SwitchAuth a {
  margin-left: 5px;
  text-decoration: none;
  color: rgb(15, 119, 147);
  font-weight: bold;
}
.SwitchAuth a:hover {
  color: rgb(10, 77, 96);
}
.SubTitle {
  text-align: center;
  margin: 0 30px 20px;
  color: rgb(15, 119, 147);
}
.InputDiv, .InputDivFocus {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  height: 27px;
  border-radius: 10px;
  border: 1px solid rgb(18, 152, 189, 0.1);
  background: rgb(18, 152, 189, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}
.InputDivFocus {
  border: 1px solid rgb(18, 152, 189, 0.3);
  box-shadow: 0 0 10px 4px rgb(235, 242, 251, 0.5);
}
.Icon {
  font-size: 18px;
  color: rgb(15, 119, 147);
  display: flex;
  justify-content: center;
  align-items: center;
}
.InputDiv input, .InputDivFocus input {
  border: 0;
  font-size: 18px;
  margin-left: 5px;
  outline: none;
  padding: 3px 2px;
  background: 0;
}
.InputDivFocus .Icon {
  color: rgb(26, 171, 152);
}
.Content button {
  cursor: pointer;
  color: white;
  background: rgb(15, 119, 147);
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  transition: background 300ms;
  line-height: 0;
  padding: 20px 15px;
  outline: 0;
}
.Content button:hover {
  transition: background 300ms;
  background: rgb(18, 152, 189);
}
.Remember {
  margin-top: 10px;
  font-size: 14px;
}
.Remember span {
  margin-left: 2px;
  color: rgb(15, 119, 147);
}
.Remember input {
  position: relative;
  top: 1.5px;
}
.ErrDiv {
  width: 100%;
  font-size: 14px;
  text-align: center;
  height: 30px;
  margin: 15px 0 10px;
}
.ErrMsgShow {
  opacity: 1;
  transition: opacity 300ms;
  color: rgb(15, 119, 147);
}
.ErrMsgHide {
  opacity: 0;
  transition: opacity 300ms;
  color: rgb(15, 119, 147);
}
@media (max-height: 751px) {
  .SignupPanel {
    display: block;
  }
}
@media (max-height: 664px) {
  .LoginPanel {
    display: block;
  }
}
