.Container {
  width: 100%;
  position: absolute;
  top: 70px;
  height: calc(100% - 70px);
  overflow: auto;
}
.Content {
  min-width: 555px;
}
.Investments {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 20px;
}
.Stocks, .Cryptos {
  margin: 20px;
  position: relative;
}
.Stocks h1, .Cryptos h1 {
  color: var(--titleColor);
  text-align: center;
}
@media (min-width: 1021px) {
  .ChartContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
    max-width: 1200px;
    margin: auto;
  }
}
@media (max-width: 1300px) {
  .Investments {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
.Btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px;
  position: relative;
  border-radius: 3px;
  padding: 5px 0;
}
.SettingsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
  border: 0;
  outline: none;
  padding: 7px;
}
.SettingsBtn svg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--dark-blue));
  transition: color 300ms;
}
.SettingsBtn:hover svg {
  color: rgb(var(--dark-blue4));
}
.AnalysisBtn button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 8.5px 10px 8.5px 4px;
}
.AnalysisBtn svg {
  margin: 0 7px 0 5px;
}
.AddBtn button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.5px 10px 5.5px 5px;
  margin: 0 5px;
}
.AddBtn svg {
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}
.RemoveBtn button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7.9px 10px;
  margin: 5px;
}
.RemoveBtn svg {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}
