.Container {
  width: 100%;
  position: fixed;
  top: 70px;
  height: calc(100% - 70px);
  /* overflow-y: auto;
  overflow-x: hidden; */

  overflow: scroll;
}
.Content, .Dark {
  display: flex;
  justify-content: center;
  min-width: 374px;
}
.Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Title, .Title2 {
  font-size: 22px;
  text-align: center;
  margin: 24px 0 10px;
  color: rgb(var(--dark-blue2));
}
.Title2 {
  margin: 15px 0 5px;
}
.Dark .Title, .Dark .Title2 {
  color: rgb(var(--light-blue2));
}
.ChartContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.SubTitle {
  text-align: center;
  color: rgb(var(--blue));
}
.BudgetContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 230px;
  overflow: auto;
}
.BudgetContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}
.BudgetContainer::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
.BudgetContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ddd;
}
.Dark .BudgetContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(var(--dark-blue5), 0.3);
}
.Dark .BudgetContainer::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(var(--dark-blue5), 0.3);
}
.Dark .BudgetContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(var(--dark-blue5));
}
.BudgetDiv {
  border-bottom: 2px solid rgba(var(--blue), 0.2);
  padding: 10px;
  width: 320px;
}
.InnerBudgetDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 374px) {
  .Container {
    overflow-x: auto;
  }
}
