.SideNav, .HideSideNav {
  position: absolute;
  width: 240px;
  height: calc(100% - 25px);
  left: 0;
  transform: translateX(0);
  transition: all 400ms;
  background: rgb(42, 69, 92);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
.HideSideNav {
  transform: translateX(-100%);
}
.Link, .LogoutLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: color 300ms;
  position: relative;
  margin: 25px 0 0;
}
.Link:hover, .LogoutLink:hover {
  color: rgb(26, 171, 152);
  transition: color 300ms;
}
.Link:hover .FocusBorder, .LogoutLink:hover .FocusBorder {
  width: 100%;
  transition: 300ms ease-out;
  left: 0;
}
.FocusBorder {
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background: rgb(26, 171, 152);
  transition: 300ms ease-out;
}
