.TableContainer {
  width: 100%;
  max-height: 220px;
  overflow: auto;
}
.AssetTableContainer {
  width: 100%;
  max-height: 95px;
  overflow: auto;
}
.TableContainer::-webkit-scrollbar-track,
.AssetTableContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}
.TableContainer::-webkit-scrollbar,
.AssetTableContainer::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
.TableContainer::-webkit-scrollbar-thumb,
.AssetTableContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ddd;
}
.Table {
  width: 320px;
  border-collapse: collapse;
  font-size: 12px;
  margin: auto;
  box-shadow: var(--box-shadow2);
}
.NormalTable {
  border-collapse: collapse;
  box-shadow: var(--box-shadow2);
  width: 545px;
  background: var(--tableBack);
}
.Table td, .NormalTable td {
  border: 1.2px solid rgb(var(--blue), 0.6);
  background: rgba(var(--blue), 0.04);
  padding: 8px 2px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  max-width: 50px;
}
.NormalTable td {
  max-width: 100px;
  color: var(--tableTDColor);
}
.Value {
  color: rgb(var(--green)) !important;
  font-weight: bold;
}
.ChartBtn {
  width: 45px;
  font-size: 26px;
  color: var(--tableChartBtn) !important;
  transition: 300ms;
  cursor: pointer;
}
.ChartBtn:hover {
  color: rgb(var(--blue)) !important;
  background: rgba(var(--blue), 0.1);
}
.HeaderFields {
  color: rgb(var(--dark-blue));
  background: rgba(var(--blue), 0.1);
}
.HeaderFields th {
  padding: 10px 0;
}
.NormalTable th {
  color: var(--tableTHColor);
}
.Symbol {
  font-weight: bold;
  position: relative;
  color: rgb(var(--dark-blue));
}
.NormalTable .Symbol {
  color: var(--tableSymbol) !important;
}
.Symbol img {
  position: absolute;
  height: 18px;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
}
.NormalTable .Symbol img {
  height: 24px;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}
.Ascend, .Descend, .Neutral {
  font-size: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  position: relative;
  cursor: pointer;
}
.Ascend {
  transform: rotate(-90deg);
  top: 1px;
}
.Descend {
  transform: rotate(90deg);
  top: 1px;
}
