.Container {
  width: 100%;
  max-height: 220px;
  overflow: auto;
}
.AssetContainer {
  max-height: 95px;
}
.Container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}
.Container::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
.Container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ddd;
}
.Dark::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(var(--dark-blue5), 0.3);
}
.Dark::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(var(--dark-blue5), 0.3);
}
.Dark::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(var(--dark-blue5));
}
.Table {
  width: 320px;
  border-collapse: collapse;
  font-size: 12px;
  margin: auto;
  box-shadow: var(--box-shadow2);
}
.NormalTable {
  border-collapse: collapse;
  box-shadow: var(--box-shadow2);
  background: white;
  width: 620px;
}
@media (max-width: 1299px) {
  .NormalTable {
    width: 850px;
  }
}
@media (max-width: 890px) {
  .NormalTable {
    width: 750px;
  }
}
@media (max-width: 800px) {
  .NormalTable {
    width: 700px;
  }
}
@media (max-width: 740px) {
  .NormalTable {
    width: 620px;
  }
}
@media (max-width: 650px) {
  .NormalTable {
    width: 545px;
  }
}
.DarkTable {
  background: rgba(var(--blue), 0.3);
}
.Table td, .NormalTable td {
  border: 1.2px solid rgb(var(--blue), 0.6);
  background: rgba(var(--blue), 0.04);
  padding: 8px 2px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
}
.NormalTable td {
  padding: 8px 4px;
}
.DarkTable td {
  color: rgb(var(--light-blue2));
}
.Value {
  color: rgb(var(--green)) !important;
  font-weight: bold;
}
.ChartBtn {
  width: 45px;
  font-size: 26px;
  transition: 300ms;
  cursor: pointer;
  color: rgb(var(--dark-blue4)) !important;
}
.DarkTable .ChartBtn {
  color: rgb(var(--light-blue2)) !important;
}
.ChartBtn:hover {
  color: rgb(var(--blue)) !important;
  background: rgba(var(--blue), 0.1);
}
.HeaderFields {
  color: rgb(var(--dark-blue));
  background: rgba(var(--blue), 0.1);
}
.HeaderFields th {
  padding: 10px 0;
}
.NormalTable th {
  color: rgb(var(--dark-blue));
}
.DarkTable th {
  color: rgb(var(--light-blue2));
}
.NormalTable tbody tr:hover, .Table tbody tr:hover {
  background: rgba(var(--blue), 0.04);
}
.DarkTable tbody tr:hover {
  background: rgba(var(--blue), 0.1);
}
.Symbol {
  font-weight: bold;
  position: relative;
  color: rgb(var(--dark-blue));
}
.NormalTable .Symbol {
  color: rgb(var(--dark-blue2)) !important;
}
.DarkTable .Symbol {
  color: rgb(var(--light-blue2)) !important;
}
.Symbol img {
  height: 18px;
  position: relative;
  top: 1.5px;
}
.NormalTable .Symbol img {
  height: 28px;
}
.Ascend, .Descend, .Neutral {
  font-size: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  position: relative;
  cursor: pointer;
}
.Ascend {
  transform: rotate(-90deg);
  top: 1px;
}
.Descend {
  transform: rotate(90deg);
  top: 1px;
}
