.Container {
  width: 100%;
  position: absolute;
  top: 70px;
  height: calc(100% - 70px);
  overflow: auto;
}
.OuterContent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 450px;
}
.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Budget {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 20px auto 30px;
}
.Charts, .HideCharts {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(var(--blue));
  box-shadow: var(--box-shadow3);
  border-radius: 3px;
  position: relative;
  max-height: 1000px;
  transition: max-height 400ms ease-out 300ms;
  background: rgba(var(--dark-blue), 0.05);
}
.HideCharts {
  max-height: 30px;
}
.Chart {
  transition: 400ms ease-out 500ms;
}
.HideCharts .Chart {
  visibility: hidden;
  opacity: 0;
  transition: 400ms ease-out;
}
.NewDiv {
  position: relative;
  margin-top: 10px;
}
.Options {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 20px;
}
.Btn button {
  margin: 0 5px 0;
  padding-right: 12px;
}
.Btn svg {
  margin-right: 7px;
  position: relative;
  top: 2px;
}
.Title {
  color: rgb(var(--dark-blue));
  margin: 15px 0 20px;
}
.BudgetDiv {
  border-bottom: 2px solid rgba(var(--blue), 0.2);
  padding: 10px;
}
.InnerBudgetDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.ShowBtn {
  color: rgb(var(--blue));
  cursor: pointer;
  background: white;
  border: 0;
  outline: none;
  margin-right: 20px;
  font-size: 14px;
  position: relative;
  top: -2.5px;
}
.ShowBtn span {
  position: relative;
  top: 2px;
  left: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.AddBtn button {
  margin: 0;
  padding: 4px 10px 4px 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.AddBtn svg {
  margin-right: 3px;
  font-size: 20px;
}
.CaretDown {
  transform: rotate(90deg);
  transition: transform 250ms;
}
.CaretRight {
  transform: rotate(0deg);
  transition: transform 250ms;
}
.Transactions, .HideTransactions {
  width: 80%;
  margin: auto;
  transition: 500ms;
  max-height: 2000px;
}
.HideTransactions {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: 250ms;
  max-height: 0;
}
.Transaction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1.8px solid rgba(var(--dark-blue), 0.2);
  border-radius: 3px;
  background: rgba(var(--blue), 0.15);
  padding: 7px 5px;
  margin: 5px 0;
}
.Transaction div {
  width: 250px;
  text-align: center;
  word-wrap: break-word;
}
.TotalBudget {
  color: rgb(var(--green));
  font-size: 26px;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}
.ChartBtn {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 2;
  width: 110px;
}
.ChartBtn button {
  outline: 0;
  border: 0;
  background: rgba(var(--dark-blue), 0.1);
  color: rgb(var(--dark-blue));
  transition: 300ms;
  padding: 5px 7px;
}
.ChartBtn button:hover {
  background: rgba(var(--dark-blue), 0.2);
}
.ChartBtn span {
  position: relative;
  top: 2px;
  left: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1040px) {
  .InnerBudgetDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Budget {
    width: 350px;
  }
  .Transactions {
    width: 100%;
  }
  .ShowAddTrans, .HideAddTrans {
    flex-direction: column;
  }
  .ShowAddTrans input, .HideAddTrans input {
    margin: 0 0 10px;
  }
}
@media (max-width: 820px) {
  .Charts, .HideCharts {
    flex-direction: column;
  }
}
