.Container {
  width: 100%;
  position: absolute;
  top: 70px;
  height: calc(100% - 70px);
  overflow: auto;
}
.Content {
  min-width: 448px;
  overflow: hidden;
}
.Budget {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 20px auto 30px;
}
.NewDiv {
  position: relative;
  margin-top: 30px;
}
.CreateBtn button {
  margin: auto;
  display: block;
}
.Options {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 20px;
}
.Btn button {
  margin: 0 5px 0;
  padding-right: 12px;
}
.Btn svg {
  margin-right: 7px;
  position: relative;
  top: 2px;
}
.Title {
  color: rgb(var(--dark-blue));
  margin: 15px 0 20px;
  text-align: center;
}
.BudgetDiv {
  border-bottom: 2px solid rgba(var(--blue), 0.2);
  padding: 10px;
}
.ShowBtn {
  color: rgb(var(--blue));
  cursor: pointer;
  background: white;
  border: 0;
  outline: none;
  margin-right: 20px;
  font-size: 14px;
  position: relative;
  top: -2.5px;
}
.ShowBtn span {
  position: relative;
  top: 2px;
  left: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.AddBtn button {
  margin: 0;
  padding: 4px 10px 4px 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.AddBtn svg {
  margin-right: 3px;
  font-size: 20px;
}
.CaretDown {
  transform: rotate(90deg);
  transition: transform 250ms;
}
.CaretRight {
  transform: rotate(0deg);
  transition: transform 250ms;
}
.Transactions, .HideTransactions {
  width: 80%;
  margin: auto;
  transition: 500ms;
  max-height: 2000px;
}
.HideTransactions {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: 250ms;
  max-height: 0;
}
.Transaction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1.8px solid rgba(var(--dark-blue), 0.2);
  border-radius: 3px;
  background: rgba(var(--blue), 0.15);
  padding: 7px 5px;
  margin: 5px 0;
}
.Transaction div {
  text-align: center;
  word-wrap: break-word;
  width: 33%;
  padding: 0 5px;
  box-sizing: border-box;
}
.TotalBudget {
  color: rgb(var(--green));
  font-size: 26px;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}
.Btns {
  display: inline-block;
}
@media (max-width: 1040px) {
  .Budget {
    width: 800px;
  }
  .Transactions {
    width: 95%;
  }
  .Btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ShowBtn {
    top: 0;
  }
}
@media (max-width: 830px) {
  .Budget {
    width: 440px;
  }
  .Transactions {
    width: 100%;
  }
}
