.PanelUp, .HidePanelUp, .PanelDown, .HidePanelDown {
  position: absolute;
  top: -450px;
  width: 350px;
  height: 400px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
  background: white;
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  transition: all 400ms;
  left: calc(50% - 185px);
}
.PanelDown, .HidePanelDown {
  top: 40px;
  margin-bottom: 20px;
}
.HidePanelUp, .HidePanelDown {
  opacity: 0;
  top: -185px;
  transform: scale(0);
}
.Budgets input {
  width: 120px;
  margin: 10px;
  background: white;
}
.ConfirmBtn button, .AddBtn button {
  margin: 20px 0 15px;
  color: white;
  background: rgb(26, 171, 152, 0.7);
  transition: background 250ms;
  border: 0;
  border-radius: 3px;
  outline: none;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 16px;
}
.AddBtn button {
  margin: 5px 0;
  font-size: 14px;
  background: rgb(15, 119, 147);
}
.AddBtn button:hover {
  background: rgb(10, 77, 96);
  transition: background 250ms;
}
.ConfirmBtn button:hover {
  background: rgb(26, 171, 152);
  transition: background 250ms;
}
.ConfirmBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AddBtn {
  width: 335px;
}
.Budgets {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 40px;
  height: 260px;

  background: rgb(18, 152, 189, 0.1);
  border: 1px solid rgb(18, 152, 189);
  box-shadow: 0.5px 0.5px 2px 0 rgb(0, 0, 0, 0.5);
}
.Budgets div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.ShowErr, .HideErr {
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  font-size: 16px;
  height: 25px;
  color: rgb(15, 119, 147);
  margin: 0 0 10px;
}
.HideErr {
  opacity: 0;
}
