.Panel, .HidePanel {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -450px;
  width: 350px;
  height: 400px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
  background: white;
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  transition: all 400ms;
  left: calc(50% - 185px);
}
.HidePanel {
  opacity: 0;
  top: -180px;
  transform: scale(0);
}
.Budgets input {
  width: 120px;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid rgb(18, 152, 189);
  background: rgb(18, 152, 189, 0.03);
  outline: none;
  margin: 10px;
}
.BtnDiv {
  width: 100%;
}
.ConfirmBtn, .DeleteBtn, .AddBtn {
  margin: 20px 0 15px;
  color: white;
  background: rgb(26, 171, 152, 0.7);
  transition: background 250ms;
  border: 0;
  border-radius: 3px;
  outline: none;
  padding: 8px 10px;
  cursor: pointer;
}
.AddBtn {
  margin: 5px 0;
  background: rgb(15, 119, 147);
}
.AddBtn:hover {
  background: rgb(10, 77, 96);
  transition: background 250ms;
}
.DeleteBtn {
  margin: 20px 0 10px;
  background: rgb(230, 29, 29, 0.5);
}
.DeleteBtn:hover {
  background: rgb(230, 29, 29, 0.8);
  transition: background 250ms;
}
.ConfirmBtn:hover {
  background: rgb(26, 171, 152);
  transition: background 250ms;
}
.Budgets {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  max-height: 200px;
  margin-top: 30px;
}
.Budgets div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.ShowErr, .HideErr {
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  font-size: 16px;
  height: 25px;
  color: rgb(15, 119, 147);
  margin: 0 0 10px;
}
.HideErr {
  opacity: 0;
}
.Hidden {
  height: 0;
  position: absolute;
}
.Hidden, .Hidden input, .Hidden button {
  display: none;
}
