.Panel, .HidePanel {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 90px;
  width: 350px;
  height: 400px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
  background: white;
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  transition: all 400ms;
  left: calc(50% - 185px);
}
.HidePanel {
  opacity: 0;
  top: -170px;
  transform: scale(0);
}
.Input {
  width: 60%;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid rgb(18, 152, 189);
  background: rgb(18, 152, 189, 0.03);
  outline: none;
}
.InputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.BtnDiv {
  width: 100%;
}
.Btn {
  margin: 20px 0 10px;
  color: white;
  background: rgb(15, 119, 147);
  transition: background 250ms;
  border: 0;
  border-radius: 3px;
  outline: none;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 14px;
}
.Btn:hover {
  background: rgb(10, 77, 96);
  transition: background 250ms;
}
.Field {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.CreateBtn, .HideCreateBtn {
  margin: 10px 0 9px;
  color: white;
  background: rgb(26, 171, 152, 0.7);
  transition: all 250ms;
  border: 0;
  border-radius: 3px;
  outline: none;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 14px;
}
.HideCreateBtn {
  opacity: 0;
  visibility: hidden;
  transition: all 250ms;
}
.CreateBtn:hover {
  background: rgb(26, 171, 152);
  transition: background 250ms;
}
.Entries {
  width: 100%;
  overflow: auto;
  height: 180px;
}
.Entries div {
  width: 80%;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(15, 119, 147);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.Entries span {
  color: rgb(15, 119, 147);
  width: 50%;
  padding: 5px;
  text-align: center;
  word-wrap: break-word;
}
.Text {
  color: rgb(15, 119, 147);
  cursor: default;
}
.ShowErr, .HideErr {
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  font-size: 16px;
  height: 25px;
  color: rgb(15, 119, 147);
  margin: 0 0 10px;
}
.HideErr {
  opacity: 0;
}
