.StockPanel, .CryptoPanel, .StockPanelHide, .CryptoPanelHide {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -300px;
  width: 350px;
  height: 300px;
  border-radius: 3px;
  box-shadow: var(--box-shadow1);
  background: white;
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  transition: all 400ms;
}
.StockPanel {
  left: 335px;
}
.CryptoPanel {
  left: -205px;
}
.StockPanelHide {
  opacity: 0;
  top: -140px;
  transform: scale(0);
  left: 130px;
}
.CryptoPanelHide {
  opacity: 0;
  top: -140px;
  transform: scale(0);
  left: 200px;
}
.BtnDiv {
  width: 100%;
}
.Text {
  text-align: center;
  color: rgb(var(--dark-blue2));
  margin: 20px 0 15px;
}
/* .Dropdown {
  width: 230px;
} */
.ShowInput, .HideInput {
  background: white;
  width: 100%;
  transition: opacity 300ms;
  margin: 30px 0 0;
}
.HideInput {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}
.ShowInput input, .HideInput input {
  width: 60%;
  display: block;
  margin: auto;
}
.ShowInput button, .HideInput button {
  margin: 20px auto 10px;
  display: block;
}
.ShowErr, .HideErr {
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  font-size: 16px;
  height: 24px;
}
.HideErr {
  opacity: 0;
}
@media (max-width: 1070px) {
  .StockPanel, .CryptoPanel {
    left: calc(50% - 185px);
    top: -325px;
  }
  .StockPanelHide, .CryptoPanelHide {
    left: calc(50% - 100px);
    top: -140px;
  }
}
