.Hide {
  display: none;
}
.Panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -330px;
  width: 350px;
  height: 300px;
  border-radius: 3px;
  box-shadow: var(--box-shadow1);
  background: white;
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  left: 380px;
  transition: all 400ms;
}
.HidePanel {
  opacity: 0;
  top: -130px;
  transform: scale(0);
}
.AddDebt, .RemoveDebt, .SettingsDebt {
  left: -205.5px;
}
.HideAddAsset {
  left: -30px;
}
.HideRemoveAsset {
  left: 150px;
}
.HideAddDebt {
  left: -5px;
}
.HideRemoveDebt {
  left: 180px;
}
.HideSettingsAsset {
  left: 240px;
}
.HideSettingsDebt {
  left: 300px;
}
.BtnDiv {
  width: 100%;
}
.Text {
  text-align: center;
  color: rgb(var(--dark-blue2));
  cursor: default;
  margin-bottom: 20px;
}
.AddAsset .Text, .AddDebt .Text {
  margin-top: 12px;
  margin-bottom: 5px;
}
.Inputs {
  width: 90%;
  margin: auto;
}
.Inputs div {
  position: relative;
  display: flex;
  align-items: center;
}
.Inputs p {
  display: inline-block;
}
.Inputs input {
  width: 200px;
  position: absolute;
  right: 0;
}
.NewValueInput input {
  width: 200px;
  margin: 40px 0 0;
}
.Confirm, .HideConfirm {
  margin: 20px 0 0;
  transition: all 300ms;
}
.HideConfirm {
  opacity: 0;
  visibility: hidden;
}
.AddAsset .Confirm, .AddDebt .Confirm,
.AddAsset .HideConfirm, .AddDebt .HideConfirm {
  margin: 5px 0 0;
}
.ShowErr, .HideErr {
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  font-size: 15px;
  height: 24px;
  margin: 5px 0 0;
}
.HideErr {
  opacity: 0;
}
@media (max-width: 1150px) {
  .Panel {
    left: calc(50% - 185px);
  }
}
