.Text, .Text2 {
  text-align: center;
  color: rgb(var(--dark-blue2));
  cursor: default;
  margin-bottom: 20px;
}
.Text2 {
  margin-top: 12px;
  margin-bottom: 5px;
}
.Inputs {
  width: 90%;
  margin: auto;
}
.Inputs div {
  position: relative;
  display: flex;
  align-items: center;
}
.Inputs p {
  display: inline-block;
}
.Inputs input {
  width: 200px;
  position: absolute;
  right: 0;
}
.NewValueInput input {
  width: 200px;
  margin: 40px 0 0;
}
.Confirm, .HideConfirm {
  /* margin: 20px 0 0; */
  transition: all 300ms;

  margin: 5px 0 0;
}
.HideConfirm {
  opacity: 0;
  visibility: hidden;
}
.ShowErr, .HideErr {
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  font-size: 15px;
  height: 24px;
  margin: 5px 0 0;
}
.HideErr {
  opacity: 0;
}
