.Hide {
  display: none;
}
.AddAsset, .HideAddAsset, .AddDebt, .HideAddDebt, .SettingsAsset,
.HideSettingsAsset, .SettingsDebt, .HideSettingsDebt, .RemoveAsset,
.RemoveDebt, .HideRemoveDebt, .HideRemoveAsset {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -350px;
  width: 350px;
  height: 300px;
  border-radius: 3px;
  box-shadow: var(--box-shadow1);
  background: white;
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  left: 247.5px;
  opacity: 1;
  transform: scale(1);
  transition: all 400ms;
}
.AddDebt, .RemoveDebt, .SettingsDebt {
  left: -292.5px;
}
.HideAddAsset {
  opacity: 0;
  top: -140px;
  transform: scale(0);
  left: -120px;
}
.HideRemoveAsset {
  opacity: 0;
  top: -140px;
  transform: scale(0);
  left: 50px;
}
.HideAddDebt {
  opacity: 0;
  top: -140px;
  transform: scale(0);
  left: -100px;
}
.HideRemoveDebt {
  opacity: 0;
  top: -140px;
  transform: scale(0);
  left: 60px;
}
.HideSettingsAsset {
  opacity: 0;
  top: -140px;
  transform: scale(0);
  left: 150px;
}
.HideSettingsDebt {
  opacity: 0;
  top: -140px;
  transform: scale(0);
  left: 230px;
}
.BtnDiv {
  width: 100%;
}
.Text {
  text-align: center;
  color: rgb(var(--dark-blue2));
  cursor: default;
  margin-bottom: 20px;
}
.AddAsset .Text, .AddDebt .Text {
  margin-top: 12px;
  margin-bottom: 5px;
}
.Inputs {
  width: 90%;
  margin: auto;
}
.Inputs div {
  position: relative;
  display: flex;
  align-items: center;
}
.Inputs p {
  display: inline-block;
}
.Inputs input {
  width: 200px;
  position: absolute;
  right: 0;
}
.NewValueInput input {
  width: 200px;
  margin: 40px 0 0;
}
.Confirm, .HideConfirm {
  margin: 20px 0 0;
  color: white;
  background: rgb(var(--dark-blue));
  border: 0;
  border-radius: 3px;
  outline: none;
  padding: 7px 10px;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: all 250ms;
  font-size: 14px;
}
.HideConfirm {
  opacity: 0;
  visibility: hidden;
}
.AddAsset .Confirm, .AddDebt .Confirm,
.AddAsset .HideConfirm, .AddDebt .HideConfirm {
  margin: 5px 0 0;
}
.Confirm:hover {
  background: rgb(var(--dark-blue2));
  transition: background 250ms;
}
.ShowErr, .HideErr {
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  font-size: 15px;
  height: 24px;
  width: 85%;
  margin: 15px 0 0;
}
.HideErr {
  opacity: 0;
}
.Dropdown {
  width: 230px;
}
@media (max-width: 1070px) {
  .AddAsset, .AddDebt, .RemoveAsset, .RemoveDebt,
  .SettingsAsset, .SettingsDebt {
    left: calc(50% - 185px);
    top: -345px;
  }
  .HideAddAsset, .HideAddDebt, .HideRemoveDebt,
  .HideRemoveAsset, .HideSettingsDebt, .HideSettingsAsset {
    left: calc(50% - 185px);
    top: -140px;
  }
}
