.Container {
  width: 100%;
  position: absolute;
  top: 70px;
  height: calc(100% - 70px);
  overflow: auto;
  transition: 300ms;
}
.Backdrop, .HideBackdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  transition: 300ms;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.HideBackdrop {
  opacity: 0;
  visibility: hidden;
}
.Content {
  min-width: 450px;
  position: relative;
  min-height: 100%;
}
@media (max-height: 590px) {
  .ExpandGoal {
    min-height: 520px;
  }
}
@media (max-height: 520px) {
  .ExpandNW {
    min-height: 470px;
  }
}
.SelectBar {
  width: 100%;
  background: rgba(var(--blue), 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Btn {
  outline: none;
  border: 0.5px solid rgb(var(--blue));
  padding: 4px 8px 4px 3px;
  margin: 5px;
  background: rgba(var(--blue), 0.5);
  cursor: pointer;
  transition: 300ms;
  font-weight: bold;
  box-shadow: 0.5px 0.5px 1px 0px rgba(var(--blue), 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Btn:hover {
  background: rgba(var(--blue), 0.8);
}
.Btn span {
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}
.Cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 0;
  margin: auto;
}
@media (max-width: 795px) {
  .Cards {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}
.SortBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 10px;
}
.Active, .Inactive {
  width: 100px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  color: rgb(var(--dark-blue));
}
.FocusBorder {
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background: rgb(var(--dark-blue));
  transition: all 300ms ease-out;
  opacity: 0;
}
.Active .FocusBorder, .Inactive:hover .FocusBorder {
  width: 100%;
  transition: width 300ms ease-out, left 300ms ease-out;
  left: 0;
  opacity: 1;
}
.Active {
  font-weight: 600;
}
