.Panel, .HidePanel {
  position: absolute;
  top: 70px;
  left: calc(50% - 185px);
  width: 350px;
  height: 400px;
  border-radius: 3px;
  box-shadow: var(--box-shadow1);
  background: white;
  z-index: 20;
  padding: 10px;
  overflow: hidden;
  transition: 400ms;
  margin-bottom: 20px;
}
.HidePanel {
  opacity: 0;
  transform: scale(0);
  top: -190px;
}
.BtnsDiv {
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.PrevBtn, .NextBtn, .DisPrevBtn, .DisNextBtn {
  color: white;
  background: rgb(var(--dark-blue));
  transition: background 300ms;
  border: 0;
  border-radius: 3px;
  outline: none;
  padding: 0 5px;
  cursor: pointer;
}
.PrevBtn:hover, .NextBtn:hover {
  background: rgb(var(--dark-blue2));
}
.Icon {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PrevBtn span, .DisPrevBtn span {
  transform: rotate(180deg);
}
.DisPrevBtn {
  background: rgba(var(--dark-blue), 0.6);
}
.DisNextBtn {
  background: rgba(var(--green), 0.8);
}
.DisNextBtn:hover {
  background: rgb(var(--green));
}
.Content {
  color: rgb(var(--dark-blue));
  height: 320px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  margin: 30px 0 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.Content h3 {
  font-size: 20px;
}
.SubTitle {
  font-weight: bold;
  margin: 20px 0 15px;
}
.Examples {
  overflow: auto;
  width: 100%;
  background: rgba(var(--blue), 0.05);
  border-radius: 3px;
}
.Examples::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f3f3f3;
}
.Examples::-webkit-scrollbar {
  width: 12px;
  background-color: white;
}
.Examples::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dbdbdb;
}
.Examples p {
  margin: 15px 0;
}
.Page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px 7px;
  box-sizing: border-box;
  transition: all 450ms ease-out;
  height: 100%;
  min-width: 350px;
}
.Content p {
  font-size: 16px;
  margin-left: 0;
  margin-right: 0;
}
.P1 {
  margin-top: 30px;
}
.ShowErrMsg, .HideErrMsg {
  margin: 100px 0 0;
  transition: 300ms;
  cursor: default;
  font-weight: bold;
}
.HideErrMsg {
  opacity: 0;
}
