.PanelUp, .PanelDown, .HideUp, .HideDown, .GoalPanel, .HideGoalPanel {
  position: absolute;
  top: -240px;
  width: 250px;
  height: 190px;
  border-radius: 3px;
  box-shadow: var(--box-shadow1);
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  left: calc(50% - 135px);
  transition: 400ms;
  margin-bottom: 20px;
  background: var(--panelBack);
}
.PanelDown {
  top: 50px;
}
.HideUp, .HideDown {
  opacity: 0;
  top: -80px;
  transform: scale(0);
}
.GoalPanel {
  top: -210px;
}
.Title {
  margin-top: 35px;
  text-align: center;
  color: rgb(var(--dark-blue2));
  padding: 5px;
}
.CloseBtn button {
  margin: 0;
}
.DeleteBtn {
  display: flex;
  justify-content: center;
}
.DeleteBtn button {
  margin: 20px 0 0;
}
.Input {
  display: flex;
  justify-content: center;
  align-items: center;
}
