.Boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.InputBox {
  border-radius: 3px;
  border: 1.5px solid rgb(var(--blue));
  box-shadow: var(--box-shadow8);
  width: 400px;
  margin: 20px 0;
  height: 380px;
}
.DarkBoxes .InputBox {
  background: rgb(var(--dark-blue5));
}
.InputBox h3 {
  text-align: center;
  margin: 30px 0 5px;
  color: rgb(var(--dark-blue2));
}
.DarkBoxes .InputBox h3 {
  color: rgb(var(--light-blue3));
}
.Row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.Field p {
  margin: 10px 0;
}
.DarkBoxes .Field p {
  color: rgb(var(--light-blue3));
}
.Field input {
  width: 170px;
  box-sizing: border-box;
}
.AddBtn button {
  font-size: 16px;
  margin: 39px 5px 0;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 14px 4px 7px;
}
.AddBtn svg {
  margin-right: 5px;
  font-size: 22px;
}
.Field select {
  width: 170px;
  padding: 5px 3px;
  font-size: 14px;
  border: 1px solid rgb(var(--blue));
  border-radius: 3px;
  box-sizing: border-box;
}
.TransBox {
  border-radius: 3px;
  box-shadow: var(--box-shadow8);
  width: 400px;
  height: 382px;
  background: rgb(var(--dark-blue));
  margin-left: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
}
.DarkBoxes .TransBox {
  background: rgb(20, 36, 51);
  border: 1.5px solid rgba(var(--dark-blue5), 0.5);
}
.Transactions {
  background: white;
  margin: 10px auto;
  font-size: 13px;
  text-align: center;
  width: 100%;
  height: 285px;
  overflow-y: auto;
}
.TransBox h2 {
  padding: 10px 0;
  margin: 0;
  color: white;
  text-align: center;
}
.DarkBoxes .TransBox h2 {
  color: rgb(var(--light-blue3));
}
.Btns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}
.CalcBtn button, .ResetBtn button {
  margin: 0 20px 20px;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 0;
}
.ResetBtn button {
  padding: 5px 31px;
}
.TransHeader, .TransField {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgb(var(--dark-blue));
  padding: 2px 0;
  word-wrap: break-word;
}
.TransHeader {
  background: rgba(var(--blue), 0.4);
}
.TransField {
  background: rgba(var(--blue), 0.2);
}
.Table {
  border-collapse: collapse;
  width: 100%;
}
.Table td, .Table th {
  border: 1px solid rgb(var(--blue));
  background: rgba(var(--blue), 0.04);
  padding: 8px 4px;
}
.Table th {
  color: rgb(var(--dark-blue));
  background: rgba(var(--blue), 0.1);
}
.TableTotals td {
  font-weight: bold;
  color: rgb(var(--dark-blue));
}
.TableContainer {
  width: 90%;
  text-align: center;
  margin: 20px auto;
  max-width: 850px;
  min-width: 360px;
  overflow: auto;
  padding-bottom: 5px;
}
.DarkTable {
  background: rgba(var(--blue), 0.3);
}
.DarkTable td, .DarkTable th {
  color: rgb(var(--light-blue2));
}
.TableContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}
.TableContainer::-webkit-scrollbar {
  height: 10px;
  background-color: white;
}
.TableContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ddd;
}
.DarkTableContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(var(--dark-blue5), 0.3);
}
.DarkTableContainer::-webkit-scrollbar {
  height: 10px;
  background-color: rgb(var(--dark-blue5), 0.3);
}
.DarkTableContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(var(--dark-blue5));
}
@media (max-width: 870px) {
  .Boxes {
    flex-direction: column;
  }
  .TransBox {
    margin: 0;
  }
}
@media (max-width: 550px) {
  .Title h1 {
    font-size: 24px;
  }
}
@media (max-width: 430px) {
  .InputBox, .TransBox {
    width: 360px;
  }
  .Table td, .Table th {
    padding: 6px 3px;
    font-size: 15px;
  }
}
