.Hide {
  display: none;
}
.BuyStock, .SellStock, .HideBuyStock, .HideSellStock,
.BuyCrypto, .SellCrypto, .HideBuyCrypto, .HideSellCrypto {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -300px;
  width: 350px;
  height: 300px;
  border-radius: 3px;
  box-shadow: var(--box-shadow1);
  background: white;
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  left: 335px;
  transition: all 400ms;
}
.BuyCrypto, .SellCrypto {
  left: -205px;
}
.HideBuyStock, .HideSellStock, .HideBuyCrypto, .HideSellCrypto {
  opacity: 0;
  top: -140px;
  transform: scale(0);
  left: 30px;
}
.HideSellStock {
  left: 85px;
}
.HideBuyCrypto {
  left: 45px;
}
.HideSellCrypto {
  left: 110px;
}
.BtnDiv {
  width: 100%;
}
.Text, .HideText {
  text-align: center;
  color: rgb(var(--dark-blue2));
  opacity: 1;
  transition: opacity 250ms;
  cursor: default;
}
.HideText {
  opacity: 0;
}
.ConfirmBtn, .HideConfirmBtn {
  margin: 20px 0 0;
}
.AllBtn button {
  margin: 0 0 0 10px;
  padding: 5px 10px;
}
.ShowErr, .HideErr {
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  font-size: 15px;
  height: 24px;
  width: 85%;
  margin: 10px 0 0;
}
.HideErr {
  opacity: 0;
}
.InputDiv, .HideInputDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 300ms;
}
.InputDiv input {
  width: 60%;
}
.HideInputDiv, .HideConfirmBtn {
  opacity: 0;
  cursor: default;
  pointer-events: none;
}
@media (max-width: 1070px) {
  .BuyStock, .SellStock, .BuyCrypto, .SellCrypto {
    left: calc(50% - 185px);
    top: -325px;
  }
  .HideBuyStock, .HideSellStock, .HideBuyCrypto, .HideSellCrypto {
    left: calc(50% - 185px);
    top: -140px;
  }
}
