.Panel, .Hide {
  position: absolute;
  top: 40px;
  width: 270px;
  height: 200px;
  border-radius: 3px;
  box-shadow: var(--box-shadow1);
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  left: calc(50% - 145px);
  transition: all 400ms;
  background: var(--panelBack);
}
.Hide {
  opacity: 0;
  top: -100px;
  transform: scale(0);
}
.Inputs {
  margin: 40px 0 10px;
}
.Inputs div {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.Inputs input {
  width: 180px;
}
.DateInput input {
  padding: 3px 5px;
}
.ShowErr, .HideErr {
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  font-size: 15px;
  margin: 10px 0 0;
}
.HideErr {
  opacity: 0;
}
.AddBtn button {
  margin: 0;
}
