.BackBtn span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform: rotate(180deg);
}
.BackBtn {
  float: left;
  font-size: 20px;
  padding: 2.5px;
  background: rgb(var(--dark-blue));
  transition: background 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 3px;
}
.BackBtn:hover {
  background: rgb(var(--dark-blue2));
}
.Hide {
  display: none;
}
