.StockPanel, .CryptoPanel, .StockPanelHide, .CryptoPanelHide {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -250px;
  width: 400px;
  height: 350px;
  border-radius: 3px;
  box-shadow: var(--box-shadow1);
  background: white;
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  transition: all 400ms;
}
.StockPanel {
  left: 380px;
}
.CryptoPanel {
  left: -205px;
}
.StockPanelHide {
  opacity: 0;
  top: -40px;
  transform: scale(0);
  left: -60px;
}
.CryptoPanelHide {
  opacity: 0;
  top: -40px;
  transform: scale(0);
  left: 25px;
}
.BtnDiv {
  width: 100%;
}
.Text {
  text-align: center;
  color: rgb(var(--dark-blue2));
}
.SearchInput input {
  width: 245px;
}
.Results {
  width: 100%;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
.ShowInput, .HideInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  position: absolute;
  transform: translateX(0);
  transition: transform 450ms;
  width: 100%;
  top: 45px;
  height: calc(100% - 45px);
}
.HideInput {
  transform: translateX(-200%);
}
.ShowInput div, .HideInput div {
  width: 100%;
  padding: 5px;
}
.ShowInput input, .HideInput input {
  width: 180px;
  float: right;
  margin-right: 10px;
}
.ShowInput p, .HideInput p {
  margin: 5px;
  display: inline-block;
  font-size: 16px;
}
.AddInput input {
  float: none;
  margin: 0 auto;
  display: block;
  width: 200px;
}
.Result {
  cursor: pointer;
  transition: 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Result:hover {
  background: rgba(var(--blue), 0.4);
}
.ResultLeft {
  width: 290px;
  padding: 5px 3px;
}
.ResultRight {
  width: 110px;
  text-align: right;
  padding: 5px 10px 5px 3px;
}
.SearchSymbol {
  font-weight: bold;
  margin-bottom: 3px;
}
.PosChange, .NegChange {
  margin-top: 3px;
  color: white;
}
.PosChange span {
  background: green;
  border-radius: 3px;
  padding: 1px 3px;
}
.NegChange span {
  background: red;
  border-radius: 3px;
  padding: 1px 3px;
}
.BtnDiv2 {
  width: 350px;
  display: flex;
  justify-content: center;
  margin: 10px 0 0;
}
.Results button {
  padding: 5px 10px;
}
.ShowInput button, .HideInput button {
  margin: 20px 0 10px;
  padding: 7px 10px;
}
.InputText {
  margin: 0 0 15px !important;
}
.ShowErr, .HideErr {
  transition: 300ms;
  text-align: center;
  height: 24px;
}
.HideErr {
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 1150px) {
  .StockPanel, .CryptoPanel {
    left: calc(50% - 185px);
  }
  .StockPanelHide, .CryptoPanelHide {
    left: calc(50% - 185px);
    top: -40px;
  }
}
