.BackBtn {
  position: absolute;
  top: 10px;
  left: 10px;
}
.Text {
  text-align: center;
  color: rgb(var(--dark-blue2));
  width: 80%;
}
.SearchInput {
  position: relative;
}
.SearchInput input {
  width: 245px;
}
.Results, .DarkResults {
  width: 100%;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
.DarkResults {
  color: rgb(var(--light-blue3));
}
.Results::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f3f3f3;
}
.Results::-webkit-scrollbar {
  width: 12px;
  background-color: white;
}
.Results::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dbdbdb;
}
.DarkResults::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(var(--dark-blue5), 0.3);
}
.DarkResults::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(var(--dark-blue5), 0.3);
}
.DarkResults::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(var(--dark-blue5));
}
.ShowInput, .HideInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  position: absolute;
  transform: translateX(0);
  transition: transform 450ms;
  width: 100%;
  top: 45px;
  height: calc(100% - 45px);
  transform: translateZ(2px);
}
.HideInput {
  transform: translateX(-200%);
}
.ShowInput div, .HideInput div {
  width: 100%;
  padding: 5px;
}
.ShowInput input, .HideInput input {
  width: 200px;
  float: right;
  margin-right: 10px;
}
.ShowInput p, .HideInput p {
  margin: 5px;
  display: inline-block;
  font-size: 16px;
}
.AddInput input {
  float: none;
  margin: 0 auto;
  display: block;
  width: 200px;
}
.Result {
  cursor: pointer;
  transition: 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Result:hover {
  background: rgba(var(--blue), 0.4);
}
.ResultLeft {
  width: 290px;
  padding: 5px 3px;
}
.ResultRight {
  width: 110px;
  text-align: right;
  padding: 5px 10px 5px 3px;
}
.CoinIcon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CoinIcon img {
  width: 30px;
  height: 30px;
}
.SearchSymbol {
  font-weight: bold;
  margin-bottom: 3px;
}
.PosChange, .NegChange {
  margin-top: 3px;
  color: white;
}
.PosChange span {
  background: green;
  border-radius: 3px;
  padding: 1px 3px;
}
.NegChange span {
  background: red;
  border-radius: 3px;
  padding: 1px 3px;
}
.BtnDiv2 {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 10px 0 0;
}
.BtnDiv2 button {
  padding: 5px 10px;
}
.ShowInput button, .HideInput button {
  margin: 20px 0 10px;
  padding: 7px 10px;
}
.InputText {
  margin: 0 0 15px !important;
}
.ShowErr, .HideErr {
  transition: 300ms;
  text-align: center;
  height: 24px;
}
.HideErr {
  opacity: 0;
  visibility: hidden;
}
