.Container {
  width: 100%;
  position: fixed;
  top: 70px;
  height: calc(100% - 70px);
  overflow: auto;
}
.Content {
  min-width: 374px;
}
.Chart {
  width: 85%;
  transition: all 250ms;
  position: relative;
  margin: 0 auto 30px;
}
.DarkChart {
  padding: 3px 5px 0 5px;
  border-radius: 3px;
  background: rgb(var(--dark-blue5));
  margin-bottom: 40px;
}
.Hide {
  display: none;
}
.Inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.InputRow, .InputRow2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.InputField {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px 20px 0;
  width: 200px;
  height: 80px;
  text-align: center;
  color: rgb(var(--dark-blue));
  font-weight: 500;
}
.DarkInputs .InputField {
  color: rgba(var(--blue), 0.9);
}
.Btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 10px 0 0;
}
.Btns button {
  margin: 0 10px 0;
}
.Title, .Title2 {
  margin: 20px 0;
  text-align: center;
  word-wrap: break-word;
  color: rgb(var(--green));
}
.Title2 {
  color: rgb(var(--dark-blue));
}
.DarkChart .Title2 {
  color: rgb(var(--light-blue3));
}
.SubTitle {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -30px;
  left: 0;
}
.DarkChart .SubTitle {
  background: rgb(var(--dark-blue5));
  border-radius: 3px;
  padding-bottom: 10px;
  bottom: -40px;
  color: white;
}
.SelectBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(var(--dark-blue3), 0.2);
}
.Btn button, .ActiveBtn button {
  border-radius: 0;
  padding: 5px 8px;
  margin: 8px 5px;
  font-size: 15px;
}
.ActiveBtn button {
  background: rgb(var(--dark-blue4));
}
@media (max-width: 730px) {
  .InputRow2 {
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  .InputRow {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .SelectBar {
    display: none;
  }
  .InputRow, .InputRow2 {
    width: 350px;
  }
}
