.Bar {
  margin: 10px 0;
  position: relative;
}
.Oval {
  border-radius: 25px;
  height: 29px;
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  box-shadow: inset 0 0 0 2px rgb(var(--blue));
}
.Overlay {
  background: linear-gradient(to right, rgb(var(--blue)), rgb(var(--green)));
  height: 29px;
  border-radius: 25px;
  margin-left: -2px;
}
.Oval:hover .Remaining {
  opacity: 1;
  visibility: visible;
}
.Overlay:hover .Remaining {
  opacity: 0;
  visibility: hidden;
}
.Hide {
  display: none;
}
.Remaining {
  position: absolute;
  top: 36px;
  border-radius: 25px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);
  font-size: 13px;
  padding: 5px 10px;
  background: rgb(var(--dark-blue));
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: 450ms;
  width: 120px;
  word-wrap: break-word;
  z-index: 2;
  box-sizing: border-box;
}
.Remaining:after {
  content: " ";
  position: absolute;
  left: calc(50% - 7px);
  top: -7px;
  border-top: none;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid rgb(var(--dark-blue));
}
