.NavBar {
  background: var(--navBarBack);
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Link, .Link2 {
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: color 300ms;
  position: relative;
}
.Link:hover, .Link2:hover {
  color: rgb(var(--green));
}
.Link:hover .FocusBorder {
  width: 100%;
  transition: width 300ms ease-out, left 300ms ease-out;
  left: 0;
  opacity: 1;
}
.LinkActive {
  color: rgb(var(--green));
}
.FocusBorder {
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background: rgb(var(--green));
  transition: all 300ms ease-out;
  opacity: 0;
}
.LeftNavBar {
  display: none;
}
.SideToggle {
  width: 40px;
  height: 70%;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  margin: 0 20px;
}
.SideToggle div {
  width: 90%;
  height: 3px;
  background: white;
  transition: background 300ms;
}
.SideToggle:hover div {
  background: rgb(var(--green));
  transition: background 300ms;
}
.NavBackdrop, .HideNavBackdrop, .HelpBackdrop, .HideHelpBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  opacity: 1;
  visibility: visible;
  z-index: 50;
  transition: 350ms ease-out 100ms;
}
.HideNavBackdrop, .HideHelpBackdrop {
  opacity: 0;
  visibility: hidden;
  transition: 350ms ease-out 100ms;
}
.HelpBackdrop, .HideHelpBackdrop {
  transition: 225ms ease-out 200ms;
}
.QuestionIcon {
  margin-right: 5px;
  position: relative;
  top: 3px;
}
.PersonIcon {
  font-size: 27px;
  position: relative;
  top: 2.5px;
}
@media (max-width: 800px) {
  .Link {
    display: none;
  }
  .NavBar {
    justify-content: space-between;
  }
  .LeftNavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .AccntLink {
    margin-right: 20px;
  }
  .Title {
    position: absolute;
    left: calc(50% - 75px);
    width: 160px;
  }
}
@media (max-width: 280px) {
  .Title {
    display: none;
  }
}
