.BigBtn, .Btn {
  background: rgb(var(--dark-blue));
  color: white;
  border: 0;
  outline: none;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 3px;
  margin: 0 0 10px;
  cursor: pointer;
  transition: 300ms;
  box-shadow: var(--box-shadow7);
}
.Btn {
  font-size: 14px;
}
.Btn:hover, .BigBtn:hover {
  box-shadow: var(--box-shadow8);
  background: rgb(var(--dark-blue4));
}
