.Container {
  width: 100%;
  position: absolute;
  top: 70px;
  height: calc(100% - 70px);
  overflow: auto;
}
.Content {
  min-width: 500px;
}
.Chart {
  width: 80%;
  transition: all 250ms;
  position: relative;
  margin: 0 auto 30px;
}
.Chart a, .HideChart a, .Hide {
  display: none;
}
.Block {
  position: absolute;
  background: white;
  width: 62px;
  height: 10.5px;
  bottom: 2px;
  left: 0;
}
.Inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.InputRow, .InputRow2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.InputField {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px 20px 0;
  width: 200px;
  height: 80px;
  text-align: center;
  color: rgb(15, 119, 147);
}
.Btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 10px 0 0;
}
.Btns button {
  margin: 0 10px 0;
}
.Title, .Title2 {
  margin: 20px 0;
  text-align: center;
  color: rgb(26, 171, 152);
  word-wrap: break-word;
}
.Title2 {
  color: rgb(15, 119, 147);
}
.SubTitle {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -30px;
}
.SelectBar {
  width: 100%;
  background: rgb(18, 152, 189, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Btn, .ActiveBtn {
  outline: none;
  border: 0.5px solid rgb(18, 152, 189);
  padding: 5px 8px;
  margin: 5px;
  background: rgb(18, 152, 189, 0.5);
  cursor: pointer;
  transition: 300ms;
  font-weight: bold;
  box-shadow: 0.5px 0.5px 1px 0px rgb(18, 152, 189, 0.5);
}
.ActiveBtn {
  background: rgb(18, 152, 189, 0.8);
}
.Btn:hover {
  background: rgb(18, 152, 189, 0.8);
  transition: 300ms;
}
.HideChart {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
@media (max-width: 730px) {
  .InputRow2 {
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  .InputRow {
    flex-direction: column;
  }
}
