.Container {
  width: 100%;
  position: absolute;
  top: 70px;
  height: calc(100% - 70px);
  overflow: auto;
}
.Content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
}
.Chart, .HideChart {
  width: 80%;
  transition: all 250ms;
  position: relative;
  margin: 0 0 25px;
}
.Chart a, .HideChart a {
  display: none;
}
.HideChart {
  opacity: 0;
  visibility: hidden;
}
.Block {
  position: absolute;
  background: white;
  width: 62px;
  height: 10.5px;
  bottom: 2px;
  left: 0;
}
.Inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.InputRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.InputField {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px 20px 0;
  width: 200px;
  height: 80px;
}
.InputField input {
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid rgb(18, 152, 189);
  background: rgb(18, 152, 189, 0.03);
  outline: none;
}
.InputField p {
  text-align: center;
  color: rgb(15, 119, 147);
}
.Btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 10px 0 0;
}
.Btns button {
  margin: 0 10px 0;
}
.Title {
  margin: 10px 0 0;
  text-align: center;
  color: rgb(10, 77, 96);
}
.Title2 {
  margin: 20px 0;
  text-align: center;
  color: rgb(26, 171, 152);
  word-wrap: break-word;
}
@media (max-width: 520px) {
  .InputRow {
    flex-direction: column;
  }
}
