.Content {
  color: black;
}
.SubTitle {
  margin: 12px 0;
  padding: 0 5px;
  text-align: center;
}
.Select {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Err, .HideErr {
  transition: 300ms;
  text-align: center;
  font-size: 15px;
  margin: 15px 0 10px;
  font-weight: 500;
}
.HideErr {
  opacity: 0;
  visibility: hidden;
  margin: 0;
}
.Data {
  transition: 300ms;
  color: rgb(var(--dark-blue3));
}
.HideData {
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
}
.StockTitle {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
  font-size: 18px;
}
.StockTitle span {
  margin: 0 10px;
}
.Title {
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
}
.Targets {
  margin: 7px auto 0;
  background: rgba(var(--blue), 0.1);
  border-radius: 3px;
  width: 90%;
  max-width: 400px;
}
.Targets span {
  text-align: center;
  display: inline-block;
  margin: 5px 0;
  width: 50%;
}
.Chart {
  margin: 25px auto;
  position: relative;
  width: 100%;
}
.ChartTitle {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 15px;
  text-align: center;
}
@media (max-width: 450px) {
  .Targets span {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  .Targets {
    padding: 1px 0;
  }
}
