.Panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -330px;
  width: 350px;
  height: 300px;
  border-radius: 3px;
  box-shadow: var(--box-shadow1);
  background: white;
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  left: 335px;
  transition: all 400ms;
}
.Hide {
  opacity: 0;
  top: -130px;
  transform: scale(0);
  left: 195px;
}
@media (max-width: 1070px) {
  .Panel {
    left: calc(50% - 185px);
  }
}
