.Bar, .SmallBar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.Category, .SmallCategory {
  width: 200px;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  color: rgb(var(--dark-blue));
}
.SmallCategory {
  width: 85px;
  font-size: 12px;
  padding-right: 5px;
}
.Dark .Category {
  color: rgb(var(--light-blue2));
}
.Oval, .SmallOval {
  border-radius: 20px;
  width: 300px;
  overflow: hidden;
  height: 29px;
  box-shadow: inset 0 0 0 2px rgb(var(--blue));
}
.SmallOval {
  width: 150px;
  height: 24px;
}
.Overlay, .SmallOverlay {
  background-image: linear-gradient(to right, rgb(var(--blue)), rgb(var(--green)));
  border-radius: 20px;
  height: 29px;
  margin-left: -2px;
}
.SmallOverlay {
  height: 24px;
}
.OverlaySpan, .SmallOverlaySpan, .ShowRight, .SmallShowRight {
  margin: 0 10px;
  float: right;
  color: rgb(var(--dark-blue2));
  font-weight: bold;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 29px;
}
.Dark .ShowRight {
  color: rgb(var(--light-blue2));
}
.SmallOverlaySpan, .SmallShowRight {
  width: 60px;
  margin: 0 5px;
  font-size: 12px;
  height: 24px;
}
.ShowRight, .SmallShowRight {
  position: relative;
  left: 140px;
  justify-content: flex-start;
}
.SmallShowRight {
  left: 70px;
}
.BudgetVal, .SmallBudgetVal {
  width: 150px;
  color: rgb(var(--dark-blue));
  font-weight: bold;
  word-wrap: break-word;
  margin-left: 12px;
  padding: 0 5px;
  box-sizing: border-box;
}
.Dark .BudgetVal {
  color: rgb(var(--light-blue2));
}
.SmallBudgetVal {
  width: 75px;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
}
/* Overlay 2 used to prevent remaining from showing on overlay hover */
.Overlay2 {
  border-radius: 20px;
  height: 29px;
  position: absolute;
  background: transparent;
  left: 0;
  top: 0;
}
.Oval:hover .Remaining {
  opacity: 1;
  visibility: visible;
}
.Overlay2:hover .Remaining {
  opacity: 0;
  visibility: hidden;
}
.Hide {
  display: none;
}
.Remaining {
  position: absolute;
  border-radius: 25px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);
  font-size: 13px;
  padding: 5px 10px;
  background: rgb(var(--dark-blue));
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: 450ms;
  width: 120px;
  word-wrap: break-word;
  z-index: 2;
  box-sizing: border-box;
  font-weight: normal;
  text-align: center;
  top: calc(100% + 7px);
}
.Remaining:after {
  content: " ";
  position: absolute;
  left: calc(50% - 7px);
  top: -7px;
  border-top: none;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid rgb(var(--dark-blue));
}
.OvalContainer {
  position: relative;
}
@media (max-width: 1040px) {
  .BudgetVal {
    text-align: center;
  }
  .Category {
    text-align: center;
    margin-right: 12px;
  }
  .Bar {
    width: 100%;
    margin: 5px 0 20px;
  }
}
@media (max-width: 830px) {
  .BudgetVal {
    margin: 10px 0;
    width: 100%;
  }
  .Category {
    margin: 0 0 10px;
    width: 100%;
  }
  .Bar {
    flex-direction: column;
    justify-content: flex-start;
  }
}
