.Chart {
  margin: auto;
  width: 330px;
  position: relative;
  z-index: 1;
}
.Chart a {
  display: none;
}
.Block {
  position: relative;
  top: -11.9px;
  width: 58px;
  height: 10px;
  background: white;
  z-index: 1;

  display: none;
}
