.CardContainer {
  width: 350px;
  height: 300px;
  margin: 20px;
  border-radius: 3px;
  position: relative;
}
.Card {
  width: 350px;
  height: 300px;
  box-shadow: var(--box-shadow5);
  transform: scale(0);
  position: absolute;
  bottom: -70px;
  left: -80px;
  cursor: pointer;
  animation: scaleUp 300ms forwards;
  overflow: hidden;
  background: var(--homeCardBack);
}
@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    bottom: 0;
    left: 0;
    transform: scale(1);
  }
}
