.Container {
  width: 100%;
  position: absolute;
  top: 70px;
  height: calc(100% - 70px);
  overflow: auto;
}
.Content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
}
.SetGoal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Title {
  color: rgb(10, 77, 96);
  text-align: center;
}
.Title2 {
  text-align: center;
  color: rgb(26, 171, 152);
}
.Input input {
  width: 200px;
  margin: 20px;
  transition: 250ms;
}
.SubTitle {
  text-align: center;
  color: rgb(26, 171, 152);
  font-size: 22px;
  margin: 0;
  font-weight: bold;
}
.Btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ShowErr, .HideErr {
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  font-size: 16px;
  height: 24px;
}
.HideErr {
  opacity: 0;
}
