.Btn, .DarkBtn {
  color: rgb(var(--dark-blue));
  border: 0;
  outline: none;
  padding: 5px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  transition: 300ms;
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(var(--dark-blue), 0.1);
}
.DarkBtn {
  color: rgb(var(--light-blue2));
  background: rgb(var(--dark-blue), 0.5);
}
.Btn:hover {
  background: rgb(var(--dark-blue), 0.2);
  color: rgb(var(--blue));
}
.DarkBtn:hover {
  background: rgb(var(--dark-blue), 0.1);
  box-shadow: var(--box-shadow8);
}
