.Container {
  width: 100%;
  position: absolute;
  top: 70px;
  height: calc(100% - 70px);
  overflow: auto;
}
.Investments {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 20px;
}
.Stocks, .Cryptos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  position: relative;
}
.Stocks h1, .Cryptos h1 {
  color: rgb(10, 77, 96);
}
.Table {
  width: 500px;
  border-collapse: collapse;
}
.Table td {
  border: 1px solid rgb(18, 152, 189);
  background: rgb(18, 152, 189, 0.04);
  padding: 8px 2px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  max-width: 100px;
}
.Value {
  color: rgb(26, 171, 152);
  font-weight: bold;
}
.HeaderFields {
  color: rgb(15, 119, 147);
  background: rgb(18, 152, 189, 0.1);
}
.HeaderFields th {
  padding: 10px 0;
}
.Symbol {
  font-weight: bold;
}
.Symbol img {
  height: 20px;
}
.NewBtn {
  background: rgb(15, 119, 147);
  color: white;
  border: 0;
  outline: none;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 3px;
  margin: 0 0 10px;
  cursor: pointer;
  transition: background 250ms;
}
.NewBtn:hover {
  background: rgb(10, 77, 96);
  transition: background 250ms;
}
.BuySellBtns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px;
  position: relative;
}
.SettingsBtn, .AssetSettingsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
  border: 0;
  outline: none;
  padding: 7px;
  position: absolute;
  right: 150px;
  top: 0;
}
.SettingsBtn span, .AssetSettingsBtn span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(26, 171, 152, 0.7);
  transition: color 250ms;
}
.SettingsBtn:hover span, .AssetSettingsBtn:hover span {
  color: rgb(26, 171, 152);
  transition: color 250ms;
}
.BuyBtn, .SellBtn {
  color: white;
  border: 0;
  outline: none;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 250ms;
  margin: 5px;
  background: rgb(26, 171, 152, 0.7);
}
.BuyBtn:hover, .SellBtn:hover {
  background: rgb(26, 171, 152);
  transition: background 250ms;
}
.AssetBtns {
  width: 65%;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.AssetSettingsBtn {
  right: -40px;
  top: -4px;
}
@media (max-width: 1070px) {
  .Investments {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
