.BigBtn, .Btn {
  color: white;
  border: 0;
  outline: none;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 250ms;
  margin: 5px;
  background: rgba(var(--green), 0.7);
}
.Btn {
  font-size: 14px;
}
.BigBtn:hover, .Btn:hover {
  background: rgb(var(--green));
  transition: background 250ms;
}
