.Chart a {
  display: none;
}
.Block {
  height: 11px;
  background: white;
  position: absolute;
  bottom: 2px;
  width: 30px;
}
.Block::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  background: inherit;
  height: 10px;
}
