.Chart a, .StockChart a {
  display: none;
}
.Block {
  background: white;
  position: absolute;
  bottom: 2px;
  z-index: 2;
  transform: translateZ(2px);
  height: 11.5px;
  width: 35.5px;
}
.Block::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  background: inherit;
  height: 10px;
  width: 68.5px;
}
.StockBlock1 {
  bottom: 172px;
  background: white;
}
.StockBlock1::after {
  width: 59px;
}
.StockBlock2::after {
  width: 71px;
  height: 11.5px;
}
.StockBlock2 {
  bottom: 72px;
  background: white;
}
.StockChart {
  background: white;
  padding: 10px 0;
}
