.Chart a, .StockChart a {
  display: none;
}
.Block {
  height: 11px;
  background: white;
  position: absolute;
  bottom: 2px;
  width: 30px;
}
.Block::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  background: inherit;
  height: 10px;
}
@media (max-width: 600px) {
  .Block::after {
    width: 61.9px;
  }
}
.StockBlock1 {
  bottom: 172px;
  background: white;
}
.StockBlock1::after, .StockBlock2::after {
  width: 59px;
}
.StockBlock2 {
  bottom: 72px;
  background: white;
}
.StockChart {
  background: white;
  padding: 10px 0;
}
