.ShowAddTrans, .HideAddTrans {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 10px;
  transition: 300ms;
}
.HideAddTrans {
  margin: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}
.ShowAddTrans input, .HideAddTrans input {
  width: 175px;
  margin: 0 10px 0 0;
}
.ConfirmBtn button {
  padding: 5px 8px;
  margin: 0;
}
.CostInput input {
  width: 120px;
}
@media (max-width: 475px) {
  .ShowAddTrans, .HideAddTrans input {
    width: 150px;
  }
  .CostInput input {
    width: 100px;
  }
  .ShowAddTrans, .HideAddTrans {
    width: 100%;
  }
  .ShowAddTrans {
    margin: 20px 0 10px;
  }
}
