.Charts, .HideCharts {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(var(--blue));
  box-shadow: var(--box-shadow3);
  border-radius: 3px;
  position: relative;
  max-height: 1000px;
  transition: max-height 400ms ease-out 300ms;
  width: 800px;
  margin: auto;
  background: var(--chartBack);
}
.HideCharts {
  max-height: 30px;
}
.Chart {
  transition: 400ms ease-out 500ms;
}
.HideCharts .Chart {
  visibility: hidden;
  opacity: 0;
  transition: 400ms ease-out;
}
.CaretDown {
  transform: rotate(90deg);
  transition: transform 250ms;
}
.CaretRight {
  transform: rotate(0deg);
  transition: transform 250ms;
}
.Btn {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 2;
  width: 110px;
}
.Btn button {
  outline: 0;
  border: 0;
  background: rgba(var(--dark-blue), 0.1);
  color: rgb(var(--dark-blue));
  transition: 300ms;
  padding: 5px 7px;
}
.Btn button:hover {
  background: rgba(var(--dark-blue), 0.2);
}
.Btn span {
  position: relative;
  top: 2px;
  left: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.DarkBtn button {
  background: rgb(var(--light-blue3));
  color: rgb(var(--dark-blue4));
}
.DarkBtn button:hover {
  background: rgba(var(--light-blue3), 0.7);
}
@media (max-width: 820px) {
  .Charts, .HideCharts {
    flex-direction: column;
    width: 360px;
    overflow: hidden;
  }
}
