.Panel {
  position: fixed;
  top: 90px;
  width: 550px;
  border-radius: 3px;
  box-shadow: var(--box-shadow1);
  z-index: 10;
  padding: 10px;
  transition: 300ms ease-out;
  overflow: auto;
  color: white;
  height: 555px;
  background: var(--premiumBack);
  left: calc(50% - 285px);
}
.Hide {
  opacity: 0;
  transform: translateY(-100%);
  visibility: hidden;
  transition: transform 300ms ease-in, opacity 150ms ease-in 150ms, visibility 150ms ease-in 150ms;
}
@media (max-width: 595px) {
  .Panel {
    width: calc(94% - 10px);
    left: calc(3% - 5px);
  }
}
@media (max-height: 670px) {
  .Panel {
    height: calc(94% - 90px);
    top: 80px;
  }
}
.Content {
  margin: 15px 0 0;
  width: 100%;
  position: relative;
  animation: fadeIn 300ms ease-in forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.Title {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 15px;
  text-align: center;
}
.Err, .HideErr {
  transition: 300ms;
  text-align: center;
  font-size: 15px;
  margin: 15px 0 10px;
  font-weight: 500;
}
.HideErr {
  opacity: 0;
  visibility: hidden;
  margin: 0;
}
.CloseBtn {
  width: 100%;
  margin: 0 0 35px;
}
.CloseBtn button {
  background: rgb(var(--dark-blue3));
}
.CloseBtn button:hover {
  background: rgb(var(--dark-blue));
}
.SelectBar {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  background: rgb(var(--blue), 0.08);
}
.SelectBar::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.05);
  height: 7px;
}
.SelectBar::-webkit-scrollbar {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  height: 7px;
}
.SelectBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.15);
  height: 7px;
}
.Active, .Inactive {
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: 300ms;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  position: relative;
}
.Inactive:hover, .Active {
  color: rgb(var(--blue));
}
.Inactive:hover .FocusBorder, .Active .FocusBorder {
  width: 100%;
  transition: width 300ms ease-out, left 300ms ease-out;
  left: 0;
  opacity: 1;
}
.FocusBorder {
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 1.5px;
  background: rgb(var(--blue));
  transition: 300ms ease-out;
  opacity: 0;
}
