.Panel, .Hide {
  position: absolute;
  top: -270px;
  width: 300px;
  height: 250px;
  border-radius: 3px;
  box-shadow: var(--box-shadow1);
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  left: calc(50% - 160px);
  transition: all 400ms;
  background: var(--panelBack);
}
.Hide {
  opacity: 0;
  top: -110px;
  transform: scale(0);
}
.Inputs {
  margin: 35px 0 12px;
}
.Inputs div {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.Inputs input {
  width: 180px;
}
.DateInput input {
  padding: 3px 5px;
}
.ShowErr, .HideErr {
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  font-size: 15px;
  margin: 0;
}
.HideErr {
  opacity: 0;
}
.BtnDiv button {
  margin: 7px 0 10px;
}
