.Panel, .Hide {
  position: absolute;
  top: -250px;
  width: 250px;
  height: 200px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
  background: white;
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  left: 65px;
  transition: all 400ms;
}
.Hide {
  opacity: 0;
  top: -80px;
  left: 0;
  transform: scale(0);
}
.Input input {
  width: 200px;
  margin: 20px;
}
.BtnDiv2 {
  display: flex;
  justify-content: center;
}
.BtnDiv2 button {
  margin: 10px;
}
.ShowErr, .HideErr {
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  font-size: 16px;
  height: 24px;
}
.HideErr {
  opacity: 0;
}
.BtnDiv {
  width: 100%;
}
