.EditPanel, .HideEditPanel, .DeletePanel, .HideDeletePanel {
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  position: absolute;
  top: -250px;
  width: 250px;
  height: 200px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
  background: white;
  z-index: 2;
  padding: 10px;
  overflow: hidden;
  left: 65px;
  transition: all 400ms;
}
.DeletePanel, .HideDeletePanel {
  height: 150px;
  width: 200px;
  left: 90px;
  top: -200px;
}
.HideEditPanel {
  opacity: 0;
  top: -80px;
  left: 0;
  transform: scale(0);
}
.HideDeletePanel {
  opacity: 0;
  top: -50px;
  left: 150px;
  transform: scale(0);
}
.Input {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid rgb(18, 152, 189);
  background: rgb(18, 152, 189, 0.03);
  outline: none;
  margin: 20px;
  transition: all 250ms;
}
.Btn {
  color: white;
  border: 0;
  outline: none;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 250ms;
  margin: 10px;
  background: rgb(26, 171, 152, 0.7);
}
.BtnDiv2 {
  display: flex;
  justify-content: center;
}
.Btn:hover {
  background: rgb(26, 171, 152);
  transition: background 250ms;
}
.ShowErr, .HideErr {
  opacity: 1;
  transition: opacity 300ms;
  text-align: center;
  font-size: 16px;
  height: 24px;
}
.HideErr {
  opacity: 0;
}
.BtnDiv {
  width: 100%;
}
.Title {
  margin-top: 35px;
  text-align: center;
  color: rgb(10, 77, 96);
}
