.NavBar {
  background: rgb(42, 69, 92);
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Link, .LogoutLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: color 300ms;
  position: relative;
}
.Link:hover, .LogoutLink:hover {
  color: rgb(26, 171, 152);
  transition: color 300ms;
}
.Link:hover .FocusBorder, .LogoutLink:hover .FocusBorder {
  width: 100%;
  transition: width 300ms ease-out, left 300ms ease-out;
  left: 0;
  opacity: 1;
}
.LinkActive {
  color: rgb(26, 171, 152);
}
.FocusBorder {
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background: rgb(26, 171, 152);
  transition: all 300ms ease-out;
  opacity: 0;
}
.LeftNavBar {
  display: none;
}
.SideToggle {
  width: 40px;
  height: 70%;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  margin: 0 20px;
}
.SideToggle div {
  width: 90%;
  height: 3px;
  background: white;
  transition: background 300ms;
}
.SideToggle:hover div {
  background: rgb(26, 171, 152);
  transition: background 300ms;
}
.Backdrop, .HideBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.25);
  opacity: 1;
  visibility: visible;
  z-index: 50;
  transition: all 400ms;
}
.HideBackdrop {
  opacity: 0;
  visibility: hidden;
}
.QuestionIcon {
  margin-right: 5px;
  position: relative;
  top: 3px;
}
@media (max-width: 800px) {
  .Link {
    display: none;
  }
  .NavBar {
    justify-content: space-between;
  }
  .LeftNavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .LogoutLink {
    margin-right: 20px;
  }
}
